{{!-- Displaying burgers --}}
<div class="container" id="main">
  <div class="row">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="top-bar">
      <h1 class="display-4">Eat Da Burger!</h1>
      <p class="lead">To get started, choose burgers that are ready to eat on the left.  Or add any additional burger to the list below. Once a burger is ready to be eaten, select "Eat it!" button to remove it from the available list. NOTE- once the burger has been eaten it can't be added back!</p>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    {{!-- Available burgers --}}
    <div class="card mb-6 shadow-sm" id="available">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Burgers available to eat!</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          {{#each burger_data}}
          {{#unless this.devoured}}
            <li class="mb-3">
              <span class="burger-id text-muted">{{this.id}}.</span> {{this.burger_name}}
              <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                <input type="hidden" name="burger_id" type="text" value="{{this.id}}">
                <button type="submit" class="btn btn-sm btn-block btn-outline-primary">Devour it!</button>
              </form>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
      </div>
    </div>
    {{!-- Eaten burgers --}}
    <div class="card mb-6 shadow-sm" id="available">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Burgers that have been eaten!</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          {{#each burger_data}}
          {{#if this.devoured}}
            <li class="mb-3">
              <span class="burger-id text-muted">{{this.id}}.</span> {{this.burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>

{{!-- Add burgers --}}
<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="container" id="add">
    <div class="row">
      <div class="col-7">
        <p id="userFav">Don't see a burger you want in the available section? Add your own burger here!</p>
      </div>
      <div class="col-5">
        <div class="col-xs-12 text-center enter_section">
          <form action="/burgers/create" method="POST" class="form-inline">
            <input type="text" name="burger_name" class="form-control" placeholder="Enter favorite burger here" id="enter_text">
            <button type="submit" class="btn btn-primary" id="text-enter-button">Add burger!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>